extends layout
block content
    div.container
        div.row
          div.text-center.col-12
            a.btn(href="/") Go back
            h1="Id / Username / Age"
            ul
            for item in message
              li= "ID: " + item.id +" /  Username: "+ item.username